@model WebSiteBanSach.Models.KhachHang
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "Hiện Thông tin";
    Layout = "~/Views/LayOut/NguoiDungLayout.cshtml";
}

<div id="KhachHang">
    <h2>Thông tin Chi tiết Khách hàng</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quyen)
        </dt>
        @if(Model.Quyen==1)
        {
            <dd>Admin</dd>
        }
        else
        {
            <dd>Khách hàng</dd>
        }

    </dl>
    <p id="TroLai">
        @Html.ActionLink("Sửa", "ChinhSua", new { @_MaKH = Model.MaKH }) |
        <a href="@Url.Action("Index","Home")">Trở lại Trang chủ</a>
    </p>
</div>