@using WebSiteBanSach.Models;
@model List<Sach>
<h1 class="item-header">Sách mới</h1>
@{
    foreach (var item in Model)
    {
        <div class="activity-list-update">
            <img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="45" height="60" alt="Image">
            @if (item.TenSach.Length > 30)
            {
                <p><strong titile="@item.TenSach">Tiêu đề : </strong>@item.TenSach.Substring(0, 30)...<br /><a href="@Url.Action("XemChiTiet", "Sach", new { @_MaSach=item.MaSach})">Xem chi tiết</a></p>
            }
            else
            {
                <p><strong titile="@item.TenSach">Tiêu đề : </strong>@item.TenSach<br /><a href="@Url.Action("XemChiTiet", "Sach", new { @_MaSach=item.MaSach})">Xem chi tiết</a></p>
                <div class="clear"></div>
            }
        </div>
    }
}
<a href="#" class="item-footer green">Sách loại mới nhất</a>
